<div ng-controller="CurrentCtrl">
  <h2 class="resultsTitle">Ingredients for {{recipeName}}</h2>

    <ul class="allIngredients" ng-repeat="ingredient in ingredients">
      <li>{{ingredient}}</li>
    </ul>

    <p>
      <a ng-click="myRecipe(storage.dish)" class="btn btn-lg btn-primary styledbutton">Save Recipe</a>
      <a ng-href="#/" class="btn btn-lg btn-primary styledbutton">New Search</a>
    </p>

    <div ng-messages="recipeSaved">
    <p class="recipe-saved-alert bg-success text-success" ng-message="success">
        {{recipeName}} has been saved to your recipes!
    </p>
    <p class="recipe-saved-alert bg-warning text-warning" ng-message="duplicate">
        This recipe has already been saved.
    </p>
    </div>

</div>
