<div ng-app class="jumbotron" ng-controller="MainCtrl">
  <h1>Recipes for {{ingredient}}</h1>
  <p class="lead">
    <div>
        <p>
          <label for="location">
            <input type="text" name="ingredient" ng-model="ingredient" placeholder= "Search Recipes Here">
          </label>
        </p>
        <p>
          <button class="btn btn-lg btn-primary" ng-click="refreshCurrent()">Get Recipes</button>
        </p>
    <div class="results">
      <h2 class="resultsTitle">Search for: {{ingredient}} ({{recipeResults.totalMatchCount}} found)</h2>
        <div class="row">
          <div class="col-xs-6 col-md-3" ng-repeat="recipe in recipeResults.matches">
            <h3>{{recipe.recipeName}}</h3>
            <img src="{{recipe.imageUrlsBySize[90]}}"></img>
            <p>Rating: {{recipe.rating}}<span class="glyphicon glyphicon-star"></span></p>
            <a ng-href="FinalProject_AngularApp/#/current/{{recipe.id}}" ng-click="saveRecipe(recipe)" class="btn btn-lg btn-primary">View Recipe</a>
          </div>
        </div>
      </div>
    </p>
  </div>
</div>

<div ng-app class="jumbotron" >
  <h1>My Recipes</h1>
      <div ng-if="storage.savedDishes">
        <ul class="saved-recipes-list" id="Recipe Data">
          <li ng-repeat="recipe in storage.savedDishes">{{recipe.recipeName}}</li>
        </ul>
    </div>
</div>

<div ng-app class="jumbotron" >
      <h1>Shopping List</h1>

</div>
